body{
    background-color: #e1ffc2 ;
}
hr {
    border-style:  none;
    border-top-style: dotted;
    width: 10%;
    border-color:#84a9ac;
    border-width: 10px;
    background-color: inherit;
    text-align : left;
    margin-left: 100px;
}
h1 {
    text-shadow: -5px 5px 35px #2f2519;
    color: #204051;
}
h3{
    text-shadow: -5px 5px 35px #2f2519;
  color: #204051;
}
#myImage{
    border-radius: 100px;
}
#myImage:hover {
        border-radius: 30px ;
}
#submitButton:hover{
    background-color: #3ca59d;
}